/* Import */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
    /* Margins */
    margin: 0;
    padding: 0;

    /* Text */
    text-decoration: none;
    list-style-type: none;
    outline: none;
    color: #000;
    font-weight: normal;

    /* Sizing */
    box-sizing: border-box;

    /* Borders */
    border: 0;
}

    :root {
        --font-IBM-Plex-Sans: 'IBM Plex Sans', sans-serif;
        --font-Merriweather: 'Merriweather', serif;
    }

    body {
        background-color: #23252F;
    }


/* container */

    .container {
        margin: 0% auto;
        max-width: 962px;
    }

/* app */

    .app-container {
        display: flex;
        flex-direction: row;
    }

    .app-left-side {
        width: 655px;
        padding-top: 89px;
        padding-right: 108px;
        margin-bottom: 88px;
    }

    .app-right-side {
        width: 307px;
        padding-top: 224px;
        padding-left: 89px;
        background-color: #2B2D38;
        box-shadow: 1920px 0px 0px 1920px #2B2D38;
    }

    .app-header {
        margin-bottom: 54px;
    }

    .date-time {
        font-family: var(--font-IBM-Plex-Sans);
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 21px;
        color: #FFFFFF;
    }

    .app-heading {
        font-family: var(--font-Merriweather);
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 42px;
        color: #FFFFFF;
        margin: 15px 0;
    }

    .app-span-heading {
        font-family: var(--font-IBM-Plex-Sans);
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 28px;
        color: #FFFFFF;
    }

    .app-sub-heading {
        font-family: var(--font-Merriweather);
        font-style: normal;
        font-weight: bold;
        font-size: 26px;
        line-height: 42px;
        color: #FFFFFF;
        margin-bottom: 38px;
    }

    .form-group {
        display: flex;
        flex-direction: row;
        margin-bottom: 25px;
    }
    
    .form-input {
        display: flex;
        flex-direction: column;
        flex: 1 50%;
    }

    .form-input input,
    .form-input textarea,
    .form-input select {
        background: #23252F;
        border: 1px solid #464856;
        font-family: var(--font-IBM-Plex-Sans);
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        color: #FFFFFF;
        opacity: .5;
        padding: 20px 17px;
        transition: border-color 0.2s ease;
    }

    .form-input:nth-of-type(odd) input
    {
        margin-right: 12.5px;
    }

    .form-input:nth-of-type(even) input,
    .form-input:nth-of-type(even) .form-label{
        margin-left: 12.5px;
    }

    .form-input textarea {
        min-height: 108px;
        resize: vertical;
    }

    .form-input input:focus,
    .form-input textarea:focus {
        border: 1px solid #eee;
    }

    .form-label {
        font-family: var(--font-IBM-Plex-Sans);
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        color: #FFFFFF;
    }

    .form-rules {
        display: flex;
        align-items: center;
        margin-bottom: 40px;
    }

    .form-rules input[type="checkbox"]{
        -webkit-appearance: none;
        appearance: none;
        width: 24px;
        height: 24px;
        background: #23252F;
        border: 1px solid #464856;
        margin-right: 10px;
        transition: box-shadow 0.2s ease, transform 0.2s ease;
        cursor: pointer;
    }

    .form-rules input[type="checkbox"]:checked{
        transform: rotate(90deg);
        box-shadow: inset 0px 0px 0px 5px rgba(36, 88, 131, 0.87);
    }

    .form-rules input[type="checkbox"]:checked:hover {
        box-shadow: inset 0px 0px 0px 5px rgba(36, 88, 131, 0.87);
    }

    .form-rules input[type="checkbox"]:hover {
        box-shadow: inset 0px 0px 0px 5px #fff;
    }

    .form-rules label {
        font-family: var(--font-IBM-Plex-Sans);
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        color: #FFFFFF;
        cursor: pointer;
    }

    .btn {
        width: 289px;
        height: 74px;
        font-family: var(--font-IBM-Plex-Sans);
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 28px;
        cursor: pointer;
    }

    .btn-primary {
        transition: color 0.2s ease, background-color 0.2s ease;
    }

    .btn-primary:hover {
        color: #FFFFFF;
        background-color: #1f1f1f;
    }

    .app-social {
        margin-bottom: 186px;
    }

    .small-span {
        font-family: var(--font-IBM-Plex-Sans);
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 21px;
        color: #FFFFFF;
        display: block;
        margin-bottom: 15px;
    }

    .app-social img {
        margin-right: 22px;
        cursor: pointer;
    }

    .app-host {
        margin-top: 50px;
    }

    .sub-heading {
        font-family: var(--font-Merriweather);
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0.225em;
        text-transform: uppercase;
        color: #fff;
        margin-bottom: 18px;
    }

    .guest {
        display: flex;
        flex-direction: row;
        align-items: center;
        min-height: 51px;
        margin-bottom: 30px;
    }

    .guest img {
        margin-right: 10px;    
    }

    .guest-name {
        font-family: var(--font-IBM-Plex-Sans);
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 28px;
        color: #FFFFFF;
    }

    .guest-position {
        font-family: var(--font-IBM-Plex-Sans);
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 28px;
        color: #FFFFFF;
    }